<header>
  <div class="flex items-center justify-between">
    <a class="text-2xl font-bold text-gray-900" [routerLink]="['/']">
      Obnovljivač
    </a>
    <nav>
      <ul class="space-x-4 flex">
        <li
          [routerLinkActive]="['link-active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link text-dark" [routerLink]="['/']">Početna</a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a class="nav-link text-dark" [routerLink]="['/calculator']"
            >Kalkulator</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
